<div style="width:100%;">
  <img src="img/clientes.png" style="width:100%;">
  <h1 class="overlay">Clientes</h1>
</div>
<br>


<div ng-controller="ClientesController" style="margin:10px">

<!-- 	<h2>Clientes</h2> -->

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cliente in clientes">
				<td>{{ cliente.nombre }}</td>
				<td>{{ cliente.apellidos }}</td>
				<td><a href="javascript:void(0)" ng-click="edit(cliente)">Editar</a>
					| <a href="javascript:void(0)" ng-click="delete(cliente)">Eliminar</a>

				</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-danger" role="alert" ng-show='showerrors'>
 			<p>{{error}}</p>
	</div>
	<br> <input type="button" value="Insertar" ng-click="new()"
		class="btn btn-primary" /> <br> <br>
	
	<form class="well" ng-show='showform' name="clienteForm">
		<div>
		<div>
		<label>Nombre</label> 
		<input type="text" name="name" ng-model="newcliente.nombre" />
		<label>Apellidos</label> 
		<input type="text" name="email" ng-model="newcliente.apellidos" /> 
		<input type="hidden" ng-model="newcliente.id" />
		</div>
		<div> 
		<br>
		<input type="button" value="Grabar" ng-disabled="clienteForm.$invalid" ng-click="save(newcliente)" class="btn btn-primary" />
		<input type="button" value="Cancelar" ng-click="cancel()" class="btn btn-secundary" />
		</div>
	</form>

</div>


